@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
	font-family: 'monosphere';
	src: url('./assets/fonts/monosphere.ttf') format("truetype");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
    }
}

body {
    background-image: url('./assets/background.jpg');
}

